@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.top-section {
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    justify-content: center;

}

.container {
    width: 1000px;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
}

.nav-items p {
    margin-right: 50px;
}

.banner-text {
    text-align: center;
    margin-bottom: 20px;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 48px;
}

.banner-text p {
    font-size: 12px;
    color: #727272;
}

button {
    background-color: #FF900E;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.top-section img {
    width: 100%;
}

.quick-list-section {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.quick-list-content {
    display: flex;

}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 50px;
    grid-gap: 20px;
}

.quick-list-images img {
    width: 242px;
    height: 242px;
}

.quick-list-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-list-text p {
    font-size: 12px;
    color: #727272;
}

/* features section */
.features-section{
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    
}
.features-content{
    display: flex;
}

.features-text-section{
    margin-right: 80px;
}


.features-text-section h1{
    font-weight: 800; 
    margin-top: 0;   
}
.features-text-section p{
    color: #727272;
    font-size: 12px;   
}

.features-component {
    padding: 8px 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}
.features-component p{
    font-size: 12px;
    color: #727272;
}
.features-images img{
    width: 500px;
    /* height: 100%; */
}

.features-section button{
    padding: 8px 28px;
    position: absolute;
    bottom: 0;
    left: 45%;
}
.features-section button h1{
    font-size: 28px;
    font-weight: 800;
}

@media only screen and (max-width:688px) {
    navbar {
        flex-direction: column;
        margin-left: 30px;
    }

    .nav-items p {
        margin-right: 30px;
    }

    .quick-list-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-gap: 0; */
        margin-right: 0;
    }

    .quick-list-images img {
        width: 100%;
    }



    .quick-list-content {
        flex-direction: column;
    }

    .quick-list-text {
        text-align: center;
    }

    /* features section */
    .features-content{
        flex-direction: column;
    }
    .features-heading-text{
        text-align: center;
    }
    .features-text-section{
        margin-right: 0px;
    }
    .features-images img {
        width: 100%;
    }
    .features-section button{
        position: relative;
        left: 0;
    }

}