@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.top-section{
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    justify-content: center;
    
}
.container{
    width: 900px;
}
navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex; 
}
.nav-items p{
    margin-right: 50px;
}
.banner-text{
    text-align: center;
    margin-bottom: 20px;
}
.banner-text h1{
    font-weight: 700;
    font-size: 48px;
}
.banner-text p{
    font-size: 12px;
    color: #727272;
}
button{
    background-color: #FF900E;
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.top-section img{
    width: 100%;
}

.features-section{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.features-content{
    display: flex;
    
}
.features-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 50px;
    grid-gap: 20px;
}

.features-images img{
    width: 242px;
    height: 242px;
}

.features-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-text p{
    font-size: 12px;
    color: #727272;
}


@media only screen and (max-width:688px)  {
   navbar{
    flex-direction: column;
    margin-left: 30px;
   }
   .nav-items p{
    margin-right: 30px;
   }

   .features-images{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.features-images img{
    width: 100%;
}



   .features-content{
    flex-direction: column;
   }
   .features-text{
    text-align: center;
   }

}